body{
    margin: 0;
    padding-top: 70px;
    padding-bottom: 60px;
    background: linear-gradient(to right, #144272,#2C74B3);
    background-size: 400% 400%;
    animation: animate-background 10s infinite ease-in-out;
}
p{
    font-family: Andika, Arial, sans-serif;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(60, 64, 72);
    box-shadow: inset 1px 2px 5px rgba(1, 1, 1, 0.5);
    z-index: 100;
    display: flex;
    align-items: center;
}
.lsec{
    width: 200px;
}
.msec{
    flex: 1;
    display: flex;
    justify-content: center;
}
.mainlgbutton{
    padding-top: -5%;
    width: 180px;
    height: 55px;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    transition: opacity 0.2s;
    border-width: 0;
}
.mainlgbutton:active{
    opacity: 70%;
}
.mainlg{
    width: 100%;
    border-radius: 30px;
    height: 50px;
}
.rsec{
    width: 200px;
}
.hdbutton{
    margin-left: 2%;
    background-color: #0A2647;
    color: #aaa;
    border-radius: 20px;
    height: 50%;
    transition: background-color 0.15s,color 0.15s, opacity 0.2s;
    font-family: Andika, Arial, sans-serif;

}
.hdbutton:hover{
    background-color: #aaa;
    color: #0A2647;
}
.hdbutton:active{
    opacity: 70%;
}
.heading{
    color: #2C74B3;
    font-size: 2.8vw;
    font-weight: 500;
    font-family: Andika, Arial, sans-serif;
    text-shadow: 1px 1px 1px #aaa;
    margin-left: 8%;
    margin-bottom: -0.4%;
}
.heading2{
    color: #2C74B3;
    font-size: 2.8vw;
    font-weight: 500;
    font-family: Andika, Arial, sans-serif;
    text-shadow: 1px 1px 1px #aaa;
    margin-left: 30%;
    margin-bottom: -0.4%;
}
.heading3{
    color: #0A2647;
    font-size: 2.8vw;
    font-weight: 500;
    font-family: Andika, Arial, sans-serif;
    text-shadow: 1px 1px 1px #aaa;
    margin-left: 8%;
}
.lam
{
    border-radius: 10px;
    width: 60%;
}
.lambo{
    /* margin-top: 50px; */
    position: relative;
    background-color: black;
    display: flex;
    justify-content: right;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.logogrid{
    position: absolute;
    bottom: 15%;
    left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30%;
}
.logogrid2{
    position: absolute;
    bottom: 15%;
    right: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30%;
}
/* .logogridh{
    margin-left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10%;
} */
.lgbutton{
    width: 90px;
    border-radius: 50px;
    cursor: pointer;
    padding-top: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: #144272;
    transition: background-color 0.15s, opacity 0.2s;
}
.lgbutton:hover{
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    background-color: #2C74B3;
}
.lgbutton:active{
    opacity: 70%;
}
/* .lgbuttonh{
    width: 50%;
    border-radius: 50px;
    cursor: pointer;
    padding-top: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: #144272;
    transition: background-color 0.15s, opacity 0.2s;
}
.lgbuttonh:hover{
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    background-color: #2C74B3;
}
.lgbuttonh:active{
    opacity: 70%;
}
.flexcont{
    display: flex;
}
.left{
    width: 500px;
}
.right{
    padding-top: 2%;
    flex: 1;
} */
.suzu{
    width: 100%;
    border-radius: 50px;
}
.trap{
    background-color: #0A2647;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    -webkit-clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
}
.trap3{
    background-color: #0A2647;
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0;
    width: 10%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 100%);
}
.selt{
    /* margin-top: 50px; */
    position: relative;
    background-color: black;
    display: flex;
    justify-content: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.trap1{
    background-color: #0A2647;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 10%;
    -webkit-clip-path: polygon(0 0, 20% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 20% 0%, 100% 100%, 0% 100%);
}
.trap2{
    background-color: #0A2647;
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0;
    width: 50%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
}
.spres{
    width: 60%;
    margin-right: 1%;
}
.vent{
    width: 67%;
    margin-left: 1%;
}
.animtest{
    background: linear-gradient(to right, #144272,#2C74B3);
    background-size: 400% 400%;
    width: 30%;
    height: 1%;
    animation: animate-background 10s infinite ease-in-out;
    margin-left: 8%;
}
.animtest2{
    background: linear-gradient(to right, #144272,#2C74B3);
    background-size: 400% 400%;
    width: 40%;
    height: 1%;
    animation: animate-background 10s infinite ease-in-out;
    margin-left: 30%;
}
.animtest3{
    position: absolute;
    background: linear-gradient(to right, #0A2647,#aaa);
    background-size: 400% 400%;
    width: 30%;
    height: 0.6vh;
    animation: animate-background 10s infinite ease-in-out;
    margin-left: 8%;
    margin-top: -3%;
    z-index: 5;
}
#lambou{
    width: 15%;
}
#lambor{
    width: 16%;
}
#aston{
    width: 17%;
}
#ev{
    width: 13%;
}
#pors{
    width: 10%;
}
#toyo{
    width: 9%;
}
#kia{
    width: 4%;
}
@keyframes animate-background{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
.recgrid{
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
}
.recbutton{
    width: 300px;
    height: 300px;
    background-color: #aaa;
    color: #0A2647;
    border-radius: 20px;
    padding-top: 38%;
    font-weight: 500;
    font-size: 2.3vw;
    font-family: Andika, Arial, sans-serif;
    line-height: 35px;
    cursor: pointer;
    transition: background-color 0.15s,color 0.15s, opacity 0.2s;
    position: relative;
}
.recbutton:hover{
    background-color: #0A2647;
    color: #aaa;
    text-decoration: underline;
}
.recbutton:active{
    opacity: 70%;
}
.reccar{
    width: 98%;
    min-height: 180px;
    border-radius: 20px;
    position: absolute;
    top: 2%;
    left: 0.6%;
}
.medal{
    position: absolute;
    top: 5%;
    right: 5%;
    width: 15%;
}

@media (min-width:1010px){
    .logogrid{
        bottom: 15%;
        left: 10%;
        column-gap: 25%;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .logogrid2{
        column-gap: 25%;
    }
    .lgbutton{
        width: 90px;
    }
    .recgrid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width:721px) and (max-width:1009px){
    .logogrid{
        bottom: 10%;
        left: 5%;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 15%;
    }
    .logogrid2{
        bottom: 10%;
        right: 20%;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 15%;
    }
    .lgbutton{
        width: 80px;
    }
    .recgrid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:720px){
    .logogrid{
        bottom: 5%;
        left: 5%;
        grid-template-columns: 1fr 1fr;
    }
    .logogrid2{
        bottom: 5%;
        right: 20%;
        grid-template-columns: 1fr 1fr;
    }
    .lgbutton{
        width: 70px;
    }
    .recgrid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:676px){
    .recgrid{
        grid-template-columns: 1fr;
    }
    .recbutton{
        font-size: 5vw;
    }
    .heading3{
        font-size: 6vw;
    }
    .animtest3
    {
        margin-top: -7%;
        width: 60%;
    }
}
@media (max-width:576px){
    .logogrid{
        bottom: 5%;
        left: 5%;
        grid-template-columns: 1fr 1fr;
        column-gap: 10%;
    }
    .logogrid2{
        bottom: 5%;
        right: 20%;
        grid-template-columns: 1fr 1fr;
        column-gap: 10%;
    }
    .lgbutton{
        width: 50px;
    }
    /* .animtest3{
        height: 0.2vh;
    } */
}
@media (max-width:410px){
    .logogrid{
        bottom: 5%;
        left: 5%;
        grid-template-columns: 1fr 1fr;
        column-gap: 10%;
    }
    .logogrid2{
        bottom: 5%;
        right: 20%;
        grid-template-columns: 1fr 1fr;
        column-gap: 10%;
    }
    .lgbutton{
        width: 50px;
    }
    .heading,.heading2{
        margin-top: -1%;
    }
}
@media (max-width:355px){
    .logogrid{
        bottom: 5%;
        left: 5%;
        grid-template-columns: 1fr 1fr;
        column-gap: 10%;
    }
    .logogrid2{
        bottom: 5%;
        right: 20%;
        grid-template-columns: 1fr 1fr;
        column-gap: 10%;
    }
    .lgbutton{
        width: 45px;
    }
    .heading,.heading2{
        margin-top: -1%;
    }
    .mainlg{
        width: 120px;
        height: 40px;
    }
}





/* new pages css starts here */




.maindiv{
    display: flex;
    justify-content: center;
    width: 80%;
    position: relative;
    margin-left: 10%;
    transition: opacity 0.4s;
}
.mainpic{
    width: 100%;
    border-radius: 30px;
}
.info{
    background-color: black;
    color: aliceblue;
    position: absolute;
    bottom: 2%;
    left: 2%;
    right: 2%;
    opacity: 0%;
    padding: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10%; */
}

/* kia page */
#text_kia{
    padding: 10px 30px;
    background-color: rgba(40, 40, 40, 1);
    /* position: relative;
    left: 800px; */
}
.maindiv:hover .info{
    opacity: 70%;
    transform: translateY(200px);
    -webkit-transform: translateY(200px);
}
.maindiv:hover{
    margin-bottom: 200px;
}
.specs{
    width: 100%;
}